<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: linear-gradient(to right, aqua , black);
">
<center>
<h1 style="font-size=80">Register Here</h1>
  <form method="POST" action="registration">
        {% csrf_token %}

        <label>Username</label>
    <input type="text" name="username" placeholder="Enter your username"><br><br>
    <label>First Name</label>
    <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
    <label>Last Name</label>
    <input type="text" name="last_name" placeholder="Enter your last name"><br><br>
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email-id"><br><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter password"><br><br>
    <label>Confirm Password</label>
    <input type="password" name="password1" placeholder="Confirm Password"><br><br>
    <input type="submit">

    </form>
    {% for msg in messages %}
        {{msg}}
    {% endfor %}
</center>
</body>
</html>